.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
*.retry
log/ansible.log
images/cirros*
images/ubuntu*
openrc/
.vagrant/
.DS_Store
HISTORY.txt
README.txt
